.contact {
  color: var(--color-primary);
  margin-top: 20vw;
  width: 100vw;
  max-height: 100%;
  margin-bottom: 100px;
}

.typing {
  font-family: var(--font-primary);
  font-size: 3vw;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin: 9vw auto;
  animation-iteration-count: infinite;
  animation-name: typing;
  animation-timing-function: linear;
  animation-duration: 8s;
  animation-delay: 5s;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.anchorsContact {
  display: flex;
  justify-content: space-evenly;
  margin: 10vw 5vw;
  height: 40vh;
}

.anchorContact {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 5vw;
  font-family: var(--font-primary);
}

.anchorContact:hover {
  font-size: 5.5vw;
}

@media only screen and (max-width: 720px) {
  .typing {
    font-size: 6vw;
  }
  .anchorsContact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .anchorContact {
    font-size: 8vw;
  }
}
