.paraFooter {
    font-family: var(--font-primary);
    font-size: 100%;
    color: var(--color-primary);
    margin-top: 5vw;
    margin-right: 5vw;
    text-align: right;
    margin-bottom: 2vw;
}



